extends layout

block content
	h1 We're sorry but there was an error executing your translation

	img(src="http://4.bp.blogspot.com/_ficebYZA2rQ/TAacv8OspqI/AAAAAAAAAIY/VEnsGX6ZkiQ/s1600/img-thing.jpeg")
	h5: button: a(href="/") Return to Home Page
	h5: button: a(href="/translate") Return to Translate Page