extends layout

block content
	h1 Welcome To Lingo
	h3 The ultimate translation and language learning application

	button
		a(href="/translate") Translate
	button
		a(href="/quiz") Quiz
	button
		a(href="/progress") Progress

	div: img(src="http://ingenuiti.com/wp-content/uploads/2013/11/professional-translations.jpg")