doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		link(rel="stylesheet" href="/css/main.css")
		title Lingo

	body
		block content

		script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
		script(src='/javascripts/main.js')
		